<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
<title>Login</title>
</head>
<body>

	<div th:replace="layout :: header(tab = 'manager')"></div>
	<div class="container">
	<div class="page-header"> 
            <h1>Login</h1> 
        </div> 
		<form action="#" th:action="@{/login.action}" th:object="${user}" method="post">
			<div class="form-group">
				<label for="username">User Name：</label> 
				<input type="text" class="form-control" th:field="*{uname}" id="uname" placeholder="Username"/>
			</div>
			<div class="form-group">
				<label for="passwd">Password：</label> <input
					type="password" class="form-control" id="passwd" th:field="*{passwd}"
					placeholder="Password">
			</div>
			<button type="submit" class="btn btn-dark" role="button">Login</button>
		</form>
	</div>
	
	<div th:replace="layout :: footer"></div>
</body>
</html>